<!DOCTYPE html>
<html>
<head>
    <title>Controle</title>
    <link rel="stylesheet" href="style.css">
    </style>
</head>
<body>

<h2>Controle de Equipamentos</h2>

<table>
    <thead>
        <tr>
            {% for coluna in colunas %}
                <th>{{ coluna }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for linha in dados %}
        <tr>
            {% for valor in linha %}
                <td>{{ valor }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<table>
    <thead>
        <tr>
            {% for coluna in colunas %}
                <th>{{ coluna }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for linha in dados %}
        <tr>
            {% for valor in linha %}
                <td>{{ valor }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>