{% extends "base.html" %}

{% block titulo %}{{ titulo }}{% endblock %}

{% block conteudo %}
<a href="/" class="botao">Voltar</a>
<h2>{{ titulo }}</h2>
<table>
    <thead>
        <tr>
            {% for coluna in colunas %}
                <th>{{ coluna }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for linha in dados %}
        <tr>
            {% for valor in linha %}
                <td>{{ valor }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
